section.places {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section.places h1{
    font-size: 30px;
    flex: 100%;
    margin-bottom: 0;
}
section.places article {
    width: 390px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    box-sizing: content-box;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
}
section.places article .place_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
section.places article h2 {
    font-size: 30px;
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
}
section.places article .price_by_night {
    box-sizing: content-box;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    padding: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.places article .information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin: 0px 0 25px 0;
}
section.places article .information {
    display: flex;
    justify-content: center;
    align-items: center;
}
section.places article .information .max_guest,
section.places article .information .number_rooms,
section.places article .information .number_bathrooms {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.places article .information .max_guest::before {
    content: url('../images/icon_group.png');
    display: block;
}
section.places article .information .number_rooms::before {
    content: url('../images/icon_bed.png');
    display: block;
}
section.places article .information .number_bathrooms::before {
    content: url('../images/icon_bath.png');
    display: block;
}
section.places article .user {
    margin-bottom: 10px;
}
