section.places {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section.places h1{
    font-size: 30px;
    flex: 100%;
    margin-bottom: 0;
}
section.places article {
    width: 390px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    box-sizing: content-box;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
}
section.places article h2 {
    font-size: 30px;
    margin-top: 0;
    text-align: center;
}
section.places article .price_by_night {
    box-sizing: content-box;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.places article .information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin: 40px 0 25px 0;
}
section.places article .information {
    display: flex;
    justify-content: center;
    align-items: center;
}
section.places article .information .max_guest,
section.places article .information .number_rooms,
section.places article .information .number_bathrooms {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.places article .information .max_guest::before {
    content: url('../images/icon_group.png');
    display: block;
}
section.places article .information .number_rooms::before {
    content: url('../images/icon_bed.png');
    display: block;
}
section.places article .information .number_bathrooms::before {
    content: url('../images/icon_bath.png');
    display: block;
}
section.places article .user {
    margin-bottom: 10px;
}
section.places article .amenities , section.places article .reviews {
    margin-top: 40px;
}
section.places article .amenities h2 , section.places article .reviews h2{
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    padding-bottom: 5px;
}
section.places article .amenities ul, section.places article .reviews ul {
    list-style: none;
    padding: 0;
}
section.places article .amenities ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
section.places article .amenities ul li:nth-child(1)::before {
    content: "";
    background-image: url("../images/icon_tv.png");
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
section.places article .amenities ul li:nth-child(2)::before {
    content: "";
    background-image: url("../images/icon_wifi.png");
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
section.places article .amenities ul li:nth-child(3)::before {
    content: "";
    background-image: url("../images/icon_pets.png");
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
section.places article .reviews ul li h3{
    font-size: 14px;
    margin-bottom: 0;
}
section.places article .reviews ul li p {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}
section.places article .reviews ul {
    margin-bottom: 0;
}
@media only screen and (max-width: 978px) {
    section.places h1 {
        margin-left: 40px;
    }
}

@media only screen and (max-width: 500px) {
    section.places h1 {
        margin-left: 20px;
    }
    section.places article {
        width: 300px;
    }
    section.places article .price_by_night {
        top: 10px;
        right: 10px;
        font-size: 25px;
        min-width: 40px;
        height: 40px;
    }
}
@media only screen and (max-width: 380px) {
    
    section.places article {
        width: 250px;
    }
    section.places article h2 {
        font-size: 25px;
        text-align: left;
    }
}
@media only screen and (max-width: 320px) {
    section.places article {
        width: 200px;
    }
    section.places article .information {
        flex-direction: column;
        margin: 80px 0;
        border: none;
        align-items: flex-start;
    }
    section.places article .information .number_bathrooms,
    section.places article .information .max_guest,
    section.places article .information .number_rooms
    {
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }
    section.places article .information .number_bathrooms::before,
    section.places article .information .max_guest::before,
    section.places article .information .number_rooms::before
    {
        margin-right: 10px;
    }
}
