section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
   
}
section.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #FFFFFF;
    font-size: 25px;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
}
section.filters button:hover {
    opacity: 0.9;
}
section.filters .locations, section.filters .amenities {
    position: relative;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.filters .locations {
    border-right: 1px solid #DDDDDD;
}
section.filters .locations h3, section.filters .amenities h3 {
    font-weight: 600;
    margin-bottom: 0;
    padding: 0 40px;
    padding-bottom: 0;
}
section.filters .locations h4, section.filters .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    padding: 0 40px;
}
section.filters .locations .popover, section.filters .amenities .popover {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 20px;
    margin-top: 0;
    z-index: 10;
}
section.filters .locations .popover ul{
    padding: 0px 20px 10px 20px;
}
section.filters .locations .popover li{
    list-style-type: none;
}
section.filters .locations .popover h2 {
    font-size: 16px;
    margin-bottom: 0;
}
section.filters .locations:hover .popover, section.filters .amenities:hover .popover{
    display: block;
}
section.filters .amenities .popover {
    padding: 30px 40px;
}
section.filters .amenities .popover li{
    list-style-type: none;
}
@media only screen and (max-width: 1028px) {
    section.filters {
        width: 90%;
    }
}
@media only screen and (max-width: 934px) {
    section.filters .locations, section.filters .amenities {
        width: 35%;
    }
}
@media only screen and (max-width: 672px) {
    section.filters {
        flex-direction: column;
        width: 60%;
        min-height: 200px;
        box-sizing: content-box;
        padding: 10px;
    }
    section.filters .locations {
        border-right: none;
        border-bottom: 1px solid #DDDDDD;
        width: 100%;
    }
    section.filters .amenities {
        width: 100%;
    }
    section.filters button {
        position: static;
        width: 100%;
        height: 70px;
        box-sizing: content-box;
        padding: 10px 0;
    }

}
@media only screen and (max-width: 500px) {
    section.filters {
        min-height: 250px;
    }
}
